body {
    margin: 0;
    display: grid;
    grid-template-columns: repeat(3, auto);
    gap: 30px;
    padding: 30px;
}
h3, p {
    margin: 0;
}
.card {
    padding: 20px;
    box-shadow: 0 0 5px 0 #0004;
    display: grid;
    gap: 10px;
    align-content: start;
    grid-template-rows: auto 1fr auto;
}
.age {
    justify-self: flex-end;
    align-self: flex-end;
}